body {
    font-size: 16px;
    line-height: 1.5;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}

/* LOGO */

.logo {
    transition: opacity 0.4s ease;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-orange {
    color: #ff7500;
}

.logo-font {
    margin: 2px;
    font-size: 33px;
    color: black;
    font-weight: bold;
}

.logo-font:hover {
    opacity: 0.8;
}

.logo-font:active {
    opacity: 0.7;
}


.logo-link:hover {
    opacity: 0.8;
}

.logo-link:active {
    opacity: 0.7;
}

/* SITE HEADER */
.site-header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-act {
    display: flex;
    align-items: center;
}

/* SITE NAV */
.sitenav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.sitenav-link {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
}

.sitenav-link:hover {
    color: orangered;
}

.sitenav-link:active {
    opacity: 0.8;
}

/* MAIN LINK */
.main-link {
    font-size: 13px;
    color: #fff;
    line-height: 15px;
    background-color: #ff7500;
    text-decoration: none;
    transition:opacity 0.4 ease;
}

.main-link:hover {
    opacity: 0.8;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    color: #fff;
}

.hero-content {
    width: 390px;
    margin: 3px;
}

.hero-image {
    width: 510px;
    height: 510px;
}

.orange-line {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}

.hero-heading {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

/* FEATURE SITE */
.features-heading {
    width: 440px;
    font-size: 72px;
    line-height: 1.5;
}

#featureee{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.features-heading {
    width: 440px;
    font-size: 72px;
    line-height: 1.5;
}

.feature-icon-wrapper {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}

.feature-title {
    font-size: 24px;
    letter-spacing: 1.2;
    line-height: 0.5px;
}

.features-list{
    list-style: none;
}

/* PROMO SITE */
.promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    color: #fff;
}

.promo-content {
    width: 390px;
    margin: 3px;
}

.promo-heading {
    font-size: 40px;
    line-height: 48px;
}

.promo-highlight {
    color: #ff7500
}

.promo-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
}

/* FOOTER SITE */
.site-footer {
    background-color: #f8f8f8;
}

.site-footer-top {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items:  baseline;
}

.site-footer-divider {
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-medialinks {
    list-style: none;
    display: flex;
    gap: 10px;
}


.site-footer-bottom {
    display: flex;
}

.site-footer-links {
    list-style: none;
    width: 224px;
    line-height: 19px;
}

.site-footer-links a:hover {
    color: #ff7500;
}

.site-footer-links a:focus {
    opacity: 0.6;
}

.site-footer-links a  {
    text-decoration: none;
    color: #000;
}
